@use '../../../../variables.scss' as variables;

.no-tasks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: calc(100% - 3.6rem);
  animation: fadeInAndSlideInBottom 0.2s linear;

  img {
    height: 200px;
    width: auto;
    opacity: 0.6;
    margin-bottom: 2rem;

    @include variables.media('phone') {
      height: auto;
      width: 60%;
      padding-top: 1rem;
    }
  }

  span {
    font-size: 1.1rem;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    margin-bottom: 1rem;
    line-height: 1.7rem;
  }

  @media screen and (max-height: 555px) {
    height: auto;
    padding-bottom: 0;
  }
}