<nav class="navbar-container">
  @if (sharedService.darkMode()) {
    <img class="logo" src="/assets/images/logo-light.svg" alt="logo" draggable="false" routerLink="/" width="250" height="55">
  } @else {
    <img class="logo" src="/assets/images/logo.svg" alt="logo" draggable="false" routerLink="/" width="250" height="55">
  }
  <div class="nav-links">
    <!-- <div [ngClass]="sharedService.darkMode() ? 'nav-link-dark' : 'nav-link'" routerLink="/home">Home</div> -->
    <!-- <div [ngClass]="sharedService.darkMode() ? 'nav-link-dark' : 'nav-link'" routerLink="/about">About</div> -->
    <div [ngClass]="sharedService.darkMode() ? 'nav-link-dark' : 'nav-link'" routerLink="/signup">Register</div>
    <div [ngClass]="sharedService.darkMode() ? 'nav-link-dark' : 'nav-link'" routerLink="/login">Login</div>
    <!-- <div [ngClass]="sharedService.darkMode() ? 'nav-link-dark' : 'nav-link'" routerLink="/docs">Docs</div> -->
    <a style="color: inherit;" href="https://github.com/rogeliosandoval/PlainClient" target="_blank">
      <i class="pi pi-github"></i>
    </a>
    @if (sharedService.darkMode() === false) {
      <i class="pi pi-moon" (click)="sharedService.toggleTheme()"></i>
    } @else {
      <i class="pi pi-sun" (click)="sharedService.toggleTheme()"></i>
    }
  </div>
</nav>