@use '../../../variables.scss' as variables;

.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 35px 5px 5px;

  @include variables.media('desktop') {
    flex-direction: column-reverse;
    gap: 20px;
  }

  @include variables.media('phone') {
    gap: 50px;
  }
}

.logo {
  max-width: 250px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 27px;
  font-family: "Outfit", sans-serif;

  @include variables.media('phone') {
    background-color: rgba(0, 123, 255, 0.191);
    padding: 10px 18px;
    border-radius: 10px;
    gap: 15px;
  }
}

.nav-link, .nav-link-dark {
  font-size: 1.1rem;
  font-weight: 400;
  opacity: 0.4;
  transition: 0.2s linear;

  &:hover {
    cursor: pointer;
    opacity: 1.0;
  }
  
  @include variables.media('phone') {
    font-size: 1rem;
    opacity: 1.0;
  }
}

.pi-moon {
  font-size: 1.4rem;
  background-color: rgb(24, 24, 24);
  color: white;
  padding: 11px;
  border-radius: 50%;
  animation: fadeIn 0.2s linear;
  transition: 0.1s linear;

  @include variables.media('phone') {
    padding: 8px;
    font-size: 1rem;
  }
}

.pi-sun {
  font-size: 1.4rem;
  background-color: white;
  color: black;
  padding: 11px;
  border-radius: 50%;
  animation: fadeIn 0.2s linear;
  transition: 0.1s linear;

  @include variables.media('phone') {
    padding: 8px;
    font-size: 1rem;
  }
}

.pi-moon:hover,
.pi-sun:hover {
  cursor: pointer;
  transform: scale(1.1);
}