<p-dialog header="{{ type === 'edit' ? 'Edit Task' : 'Add Task' }}" [modal]="true" (onHide)="closeDialog()" (onShow)="editCheck()" [(visible)]="showTaskFormDialog" [style]="{ width: '26rem' }">
  <form [formGroup]="taskForm" class="task-form" (ngSubmit)="type === 'edit' ? submitDialog('edit') : submitDialog('add')">
    <div class="input-group" [class.disabled]="dialogLoading">
      <input id="name" type="text" pInputText variant="filled" placeholder="Name (optional)" formControlName="name" autocomplete="off" maxlength="40"/>
    </div>
    <div class="input-group" [class.disabled]="dialogLoading">
      <textarea id="task" rows="3" cols="30" pInputTextarea variant="filled" formControlName="task"  placeholder="What is your task?" style="resize: none;" autocomplete="off" maxlength="100"></textarea>
    </div>
    <p-button label="{{ type === 'edit' ? 'Update Task' : 'Add Task' }}" type="submit" [disabled]="dialogLoading || taskForm.invalid || !taskForm.dirty"></p-button>
    @if (dialogLoading) {
      <p-progressSpinner ariaLabel="loading" strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }"/>
    }
  </form>
</p-dialog>