<p-dialog header="{{ type === 'edit' ? 'Edit Task' : 'Add Task' }}" [modal]="true" (onHide)="closeDialog()" (onShow)="editCheck()" [(visible)]="showTaskFormDialog" [style]="{ width: '26rem' }">
  <form [formGroup]="taskForm" class="task-form" (ngSubmit)="type === 'edit' ? submitDialog('edit') : submitDialog('add')">
    <div class="input-group" [class.disabled]="dialogLoading">
      <label for="name">Task Name*</label>
      <input id="name" type="text" pInputText variant="filled" placeholder="Name" formControlName="name" autocomplete="off" maxlength="40"/>
    </div>
    <p-button label="{{ type === 'edit' ? 'Update Task' : 'Add Task' }}" type="submit" [disabled]="dialogLoading || taskForm.invalid || !taskForm.dirty"></p-button>
    @if (dialogLoading) {
      <p-progressSpinner ariaLabel="loading" strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }"/>
    }
  </form>
</p-dialog>