<div class="route-container" [style.background-color]="sharedService.darkMode() ? 'rgb(24, 24, 24)' : ''">
  <div class="no-team-members">
    <img src="/assets/images/team.webp" alt="no team members" draggable="false" width="230" height="205" priority>
    <span>You currently have no team members. <br class="phone-break">Start adding some!</span>
    <p-button label="Add Member +" (onClick)="showMemberFormDialog.set(true)"></p-button>
  </div>
</div>
<tcd-member-form #memberFormDialog [showMemberFormDialog]="showMemberFormDialog()" (onClose)="onDialogClose($event)" (onSubmit)="onSubmit($event)" [dialogLoading]="dialogLoading()"></tcd-member-form>