@use '../../../../variables.scss' as variables;

.no-team-members {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
  animation: fadeInAndSlideInBottom 0.2s linear;

  img {
    height: 250px;
    width: auto;
    opacity: 0.6;
    margin-bottom: 2rem;

    @include variables.media('phone') {
      height: auto;
      width: 60%;
    }
  }

  span {
    font-size: 1.1rem;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    margin-bottom: 1rem;
    line-height: 1.7rem;
  }

  @media screen and (max-height: 555px) {
    height: auto;
  }
}

.member-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  animation: fadeInAndSlideInBottom 0.2s linear;
}

.member {
  position: relative;
  display: flex;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  gap: 1rem;

  img {
    width: 170px;
    height: 170px;
    border-radius: 10px;
    object-fit: contain;

    @include variables.media('phone') {
      width: 140px;
      height: 140px;
    }
  }

  p-skeleton {
    position: absolute;
    left: 1rem;
  }

  @include variables.media('tablet') {
    flex-direction: column;
  }
}

.member-info {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  font-family: "Outfit", sans-serif;

  .pi {
    font-size: 1rem;
  }
}

.member-info__name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: capitalize;

  @include variables.media('phone') {
    font-size: 1.7rem;
  }
}

.member-info__position {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.member-info__phone {
  margin-top: auto;
}

.member-info__location,
.member-info__phone,
.member-info__email {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 0.3rem;

  .pi {
    margin-right: 0.4rem;
  }

  @include variables.media('phone') {
    font-size: 0.9rem;
  }
}