<div class="signup-container">
  <div class="form-container" [class.form-container-dark]="sharedService.darkMode()" [style.background-color]="sharedService.darkMode() ? '#282828' : ''">
    @if(sharedService.darkMode()) {
      <img ngSrc="/assets/images/logo-light.svg" alt="logo" routerLink="/" draggable="false" [style.pointer-events]="sharedService.loading() ? 'none' : ''" width="329" height="74" priority>
    } @else {
      <img ngSrc="/assets/images/logo.svg" alt="logo" routerLink="/" draggable="false" [style.pointer-events]="sharedService.loading() ? 'none' : ''" width="329" height="74" priority>
    }
    <form id="entry-form" [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="input-container" [class.disabled]="sharedService.loading()">
        <label for="name">Your Name:</label>
        <input id="name" type="text" pInputText variant="filled" placeholder="Name" formControlName="name" autocomplete="name"/>
      </div>
      <div class="input-container" [class.disabled]="sharedService.loading()">
        <label for="email">Your Email:</label>
        <input id="email" type="text" pInputText variant="filled" placeholder="Email" formControlName="email" autocomplete="email"/>
      </div>
      <div class="input-container" [class.disabled]="sharedService.loading()">
        <label for="password">Create Password:</label>
        <p-password inputId="password" [toggleMask]="true" variant="filled" placeholder="Password" feedback="false" formControlName="password" minlength="4" autocomplete="off"/>
      </div>
      <div class="input-container" [class.disabled]="sharedService.loading()">
        <label for="confirmPassword">Confirm Password:</label>
        <p-password
          inputId="confirmPassword"
          [toggleMask]="true"
          variant="filled"
          placeholder="Confirm Password"
          feedback="false"
          formControlName="confirmPassword"
          minlength="4"
          autocomplete="off"
          (onBlur)="onConfirmPasswordBlur()"
        />
      </div>
      <p-button
        label="Register"
        type="submit"
        [disabled]="registerForm.invalid || sharedService.loading()">
      </p-button>
      @if (sharedService.loading()) {
        <p-progressSpinner ariaLabel="loading" strokeWidth="3"/>
      }
      @if (errorMessage() !== '') {
        <div class="error" [class.disabled]="sharedService.loading()">
          {{ errorMessage() }}
        </div>
      }
    </form>
    <div class="divider">Or:</div>
    <div class="google-button" [class.disabled]="sharedService.loading()" (click)="signUpWithGoogle()">
      <img ngSrc="/assets/images/google-icon.png" alt="google icon" width="20" height="20" draggable="false">
      <span>Register with Google</span>
    </div>
    <span class="action" routerLink="/login" [class.disabled]="sharedService.loading()">Already registered?</span>
  </div>
  <div class="info-container">
    <div class="info-text" [style.color]="sharedService.darkMode() ? '#37b6ff' : '#004aad'">Join and manage your business and personal finances all in one! Simple and effective 😎</div>
    <img src="/assets/images/working.svg" alt="manage clients" width="420" height="371" priority>
    <tc-footer/>
  </div>
</div>