@use '../../../../variables.scss' as variables;

p-progressSpinner {
  position: absolute;
  padding: 2.5rem;
}

.mobile-overlay {
  display: none;

  @media screen and (max-width: 1000px) {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    animation: fadeInAndSlideInBottom 0.2s linear;

    .pi {
      padding: 1rem;
      border-radius: 15px;
      font-size: 1.4rem;
      color: white;
      font-weight: 500;
    }
  }
}

.no-clients {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
  animation: fadeInAndSlideInBottom 0.2s linear;

  img {
    height: 250px;
    width: auto;
    opacity: 0.6;
    margin-bottom: 2rem;

    @include variables.media('phone') {
      height: auto;
      width: 60%;
    }
  }

  span {
    font-size: 1.1rem;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    margin-bottom: 1rem;
    line-height: 1.7rem;
  }

  @media screen and (max-height: 555px) {
    height: auto;
  }
}

.clients {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 25px;
  width: 100%;

  @include variables.media('phone') {
    justify-content: center;
    gap: 20px;
  }
}

.client {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  padding: 15px 20px;
  border-radius: 10px;
  width: 275px;
  animation: fadeInAndSlideInBottom 0.2s linear;

  @include variables.media('phone') {
    font-size: 1.5rem;
    width: 100%;
  }
}

.client-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.client-logo {
  width: 160px;
  height: 160px;
  border-radius: 10px;
  object-fit: contain;

  @include variables.media('phone') {
    width: 130px;
    height: 130px;
  }
}

.menu {
  margin-left: auto;

  .pi {
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 50%;
    color: gray;

    &:hover {
      cursor: pointer;
      background-color: rgba(223, 223, 223, 0.188);
    }
  }

  @include variables.media('tablet') {
    padding: 0;
  }
}

.desktop-trunc {
  @include variables.media('phone') {
    display: none;
  }
}

.client-name {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
  margin: 15px 0 10px;
}

.client-location,
.client-email,
.client-phone,
.client-connect {
  margin-bottom: 10px;
}

.client-location,
.client-email,
.client-phone,
.client-contacts,
.client-connect {
  margin-bottom: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  max-width: 100%;
  overflow: hidden;
}

.client-email,
.client-phone,
.client-contacts {
  a, span {
    color: inherit
  }

  &:hover {
    a, span {
      cursor: pointer;
      color: variables.$theme-color-main;
    }
  }
}

.add-link {
  font-size: 1rem;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  opacity: 0.7;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

.dark-client {
  .client-email,
  .client-phone,
  .client-contacts {
    &:hover {
      a, span {
        cursor: pointer;
        color: variables.$theme-color-main-light;
      }
    }
  }
}