@use '../../../variables.scss' as variables;

.p-text-secondary{
  display: block;
  margin-bottom: 1rem;
}

p-progressSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.startup-form {
  position: relative;

  input {
    margin: 15px auto;
    width: 100%;
    font-family: "Outfit", sans-serif;
  }
}