@use '../../../../variables.scss' as variables;

.no-profits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 4rem;
  height: calc(100% - 3.6rem);
  animation: routeAnimation 0.2s linear;

  img {
    height: 200px;
    width: auto;
    opacity: 0.6;
    margin-bottom: 2rem;

    @include variables.media('phone') {
      height: auto;
      width: 60%;
    }
  }

  span {
    font-size: 1.1rem;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    margin-bottom: 1rem;
    line-height: 1.7rem;
  }

  @media screen and (max-height: 555px) {
    height: auto;
    padding-bottom: 0;
  }
}

.tab-menu {
  width: fit-content;
  height: 3.6rem;
}

.profit-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 0;
  animation: routeAnimation 0.2s linear;
}

.profit-items {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
}

.profit-item {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.1rem;
  height: 125px;
  width: 285px;
  background-color: white;
  border-radius: 15px;
  padding: 1rem;
  font-family: "Outfit", sans-serif;

  .pi-ellipsis-h {
    position: absolute;
    font-size: 1.2rem;
    border-radius: 50%;
    color: gray;
    font-size: 1.2rem;
    top: 5px;
    right: 10px;
    padding: 10px;

    &:hover {
      cursor: pointer;
      background-color: rgba(223, 223, 223, 0.188);
    }
  }
}

.profit-item-dark {
  background-color: rgb(42, 42, 42);
}

.profit-item__expense {
  font-size: 1.5rem;
  font-weight: 900;
}

.profit-item__name {
  font-size: 1.1rem;
  font-weight: 700;
}

.profit-item__note {
  font-size: 1rem;
}

.profit-summary-clipboard {
  position: relative;
  width: 450px;
  height: 600px;
  background-color: white;
  box-shadow: 5px 5px 2px rgba(128, 128, 128, 0.519);
}