<div class="route-container" [class.disabled]="sharedService.loading()" [style.background-color]="sharedService.darkMode() ? 'rgb(24, 24, 24)' : ''">
  <div class="tab-menu-desktop">
    <p-tabMenu [model]="items" [(activeItem)]="activeItem"/>
    @if (sharedService.userProfits().length !== 0 && !showBusinessProfits()) {
      @if (selectingProfits()) {
        <p-button label="Select All" (onClick)="selectAllProfits()"></p-button>
        <p-button label="Deselect All" (onClick)="selectedProfitIds = []"></p-button>
        <p-button label="Delete" icon="pi pi-trash" iconPos="right" severity="danger" (onClick)="triggerDeleteProfits()" [disabled]="selectedProfitIds.length === 0"/>
        <div class="add-button-container">
          <p-button label="Cancel" iconPos="right" (onClick)="selectingProfits.set(false); selectedProfitIds = []"/>
        </div>
      } @else {
        <p-button [label]="filterPersonalLabel()" icon="pi pi-filter" iconPos="right" (click)="filterMenu.toggle($event)"/>
        <p-button label="Select" iconPos="right" (onClick)="selectingProfits.set(true)"/>
        <p-button label="Print" icon="pi pi-print" iconPos="right" disabled/>
        <div class="add-button-container">
          <p-button label="Add Income/Expense +" (onClick)="showProfitFormDialog.set(true); logicType.set('add')"></p-button>
        </div>
      }
    } @else if (sharedService.businessProfits().length !== 0 && showBusinessProfits()) {
      @if (selectingProfits()) {
        <p-button label="Select All" (onClick)="selectAllProfits()"></p-button>
        <p-button label="Deselect All" (onClick)="selectedProfitIds = []"></p-button>
        <p-button label="Delete" icon="pi pi-trash" iconPos="right" severity="danger" (onClick)="triggerDeleteProfits()" [disabled]="selectedProfitIds.length === 0"/>
        <div class="add-button-container">
          <p-button label="Cancel" iconPos="right" (onClick)="selectingProfits.set(false); selectedProfitIds = []"/>
        </div>
      } @else {
        <p-button [label]="filterBusinessLabel()" icon="pi pi-filter" iconPos="right" (click)="filterMenu.toggle($event)"/>
        <p-button label="Select" iconPos="right" (onClick)="selectingProfits.set(true)"/>
        <p-button label="Print" icon="pi pi-print" iconPos="right" disabled/>
        <div class="add-button-container">
          <p-button label="Add Income/Expense +" (onClick)="showProfitFormDialog.set(true); logicType.set('add')"></p-button>
        </div>
      }
    }
    <p-menu #filterMenu [model]="filterOptions" popup="true" appendTo="body"/>
  </div>
  <div class="tab-menu-mobile">
    <p-tabMenu [model]="items" [(activeItem)]="activeItem"/>
    @if (sharedService.userProfits().length !== 0 && !showBusinessProfits()) {
      <p-button label="Options" icon="pi pi-ellipsis-v" iconPos="right"/>
    }
  </div>
  @if (showBusinessProfits()) {
    @if (sharedService.businessProfits().length === 0) {
      <div class="no-profits">
        <img src="/assets/images/money-stacks.webp" alt="no profits" draggable="false" width="230" height="205" priority>
        <div>Keep track of your business expesnes!</div>
        <p-button label="Add Income/Expense +" (onClick)="showProfitFormDialog.set(true); logicType.set('add')"></p-button>
      </div>
      } @else {
        <div class="profit-container">
          <div class="profit-items">
            @for (item of filteredBusinessProfits(); track item.id) {
              <div class="profit-item" [class.profit-item-dark]="sharedService.darkMode()" [class.selectable]="selectingProfits()" (click)="toggleProfit(item.id)">
                @if (!sharedService.darkMode()) {
                  <div class="profit-item__expense" [style.color]="item.profitType === 'Expense' ? 'red' : '#06a506'" [class.selected]="selectedProfitIds.includes(item.id)">${{ item.amount }}</div>
                } @else {
                  <div class="profit-item__expense" [style.color]="item.profitType === 'Expense' ? '#fc6363' : '#48df57'" [class.selected]="selectedProfitIds.includes(item.id)">${{ item.amount }}</div>
                }
                <div class="profit-item__name" [class.selected]="selectedProfitIds.includes(item.id)">{{ item.name }}</div>
                <div class="profit-item__note" [class.selected]="selectedProfitIds.includes(item.id)">{{ item.note }}</div>
                @if (selectingProfits()) {
                  <p-checkbox name="profit" [value]="item.id" [(ngModel)]="selectedProfitIds" binary="false" (click)="$event.stopPropagation()"/>
                } @else {
                  <i class="pi pi-ellipsis-h" (click)="menu.toggle($event); profitItemData = item"></i>
                }
              </div>
            }
            <p-menu #menu [model]="profitOptions" popup="true" appendTo="body"/>
          </div>
          <div class="profit-summary">
            <div class="profit-summary-clipboard" [class.profit-summary-clipboard-dark]="sharedService.darkMode()">
              <div class="profit-summary-clipboard--title">Monthly Report</div>
              <div class="profit-summary-clipboard--items">
                @for (item of filteredBusinessProfits(); track item.id) {
                  <div class="item" [class.item-dark]="sharedService.darkMode()">
                    <div class="item-title">{{ item.name }}</div>
                    @if (!sharedService.darkMode()) {
                      <div class="item-amount" [style.color]="item.profitType === 'Expense' ? 'red' : '#06a506'">${{ item.amount }}</div>
                    } @else {
                      <div class="item-amount" [style.color]="item.profitType === 'Expense' ? '#fc6363' : '#48df57'">${{ item.amount }}</div>
                    }
                  </div>
                }
              </div>
              <div class="profit-summary-clipboard--results">
                <div class="profit-summary-clipboard--results__income">
                  <span>Income</span>
                  <strong [style.color]="!sharedService.darkMode() ? '#06a506' : '#48df57'">{{ totalBusinessIncome() | currency:'USD' }}</strong>
                </div>
                <div class="profit-summary-clipboard--results__expense">
                  <span>Obligation</span>
                  <strong [style.color]="!sharedService.darkMode() ? 'red' : '#fc6363'">{{ totalBusinessExpenses() | currency:'USD'}}</strong>
                </div>
                <div class="profit-summary-clipboard--results__total">
                  <span>Profit</span>
                  @if (sharedService.darkMode()) {
                    <strong [style.color]="totalBusinessProfit() < 0 ? '#fc6363' : '#48df57'">{{ totalBusinessProfit() | currency:'USD'}}</strong>
                  } @else {
                    <strong [style.color]="totalBusinessProfit() < 0 ? 'red' : '#06a506'">{{ totalBusinessProfit() | currency:'USD'}}</strong>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      }
  } @else {
    @if (sharedService.userProfits().length === 0) {
      <div class="no-profits">
        <img src="/assets/images/wallet.webp" alt="no profits" draggable="false" width="186" height="200" priority>
        <div>Keep track of your personal expenses! <br/><span style="font-size: 1rem;" [style.color]="sharedService.darkMode() ? '#37b6ff' : '#004aad'">(these are only visible to YOU)</span></div>
        <p-button label="Add Income/Expense +" (onClick)="showProfitFormDialog.set(true); logicType.set('add')"></p-button>
      </div>
    } @else {
      <div class="profit-container">
        <div class="profit-items">
          @for (item of filteredPersonalProfits(); track item.id) {
            <div class="profit-item" [class.profit-item-dark]="sharedService.darkMode()" [class.selectable]="selectingProfits()" (click)="toggleProfit(item.id)">
              @if (!sharedService.darkMode()) {
                <div class="profit-item__expense" [class.selected]="selectedProfitIds.includes(item.id)" [style.color]="item.profitType === 'Expense' ? 'red' : '#06a506'">${{ item.amount }}</div>
              } @else {
                <div class="profit-item__expense" [class.selected]="selectedProfitIds.includes(item.id)" [style.color]="item.profitType === 'Expense' ? '#fc6363' : '#48df57'">${{ item.amount }}</div>
              }
              <div class="profit-item__name" [class.selected]="selectedProfitIds.includes(item.id)">{{ item.name }}</div>
              <div class="profit-item__note" [class.selected]="selectedProfitIds.includes(item.id)">{{ item.note }}</div>
              @if (selectingProfits()) {
                <p-checkbox name="profit" [value]="item.id" [(ngModel)]="selectedProfitIds" binary="false" (click)="$event.stopPropagation()"/>
              } @else {
                <i class="pi pi-ellipsis-h" (click)="menu.toggle($event); profitItemData = item"></i>
              }
            </div>
          }
          <p-menu #menu [model]="profitOptions" popup="true" appendTo="body"/>
        </div>
        <div class="profit-summary">
          <div class="profit-summary-clipboard" [class.profit-summary-clipboard-dark]="sharedService.darkMode()">
            <div class="profit-summary-clipboard--title">Monthly Report</div>
            <div class="profit-summary-clipboard--items">
              @for (item of filteredPersonalProfits(); track item.id) {
                <div class="item" [class.item-dark]="sharedService.darkMode()">
                  <div class="item-title">{{ item.name }}</div>
                  @if (!sharedService.darkMode()) {
                    <div class="item-amount" [style.color]="item.profitType === 'Expense' ? 'red' : '#06a506'">${{ item.amount }}</div>
                  } @else {
                    <div class="item-amount" [style.color]="item.profitType === 'Expense' ? '#fc6363' : '#48df57'">${{ item.amount }}</div>
                  }
                </div>
              }
            </div>
            <div class="profit-summary-clipboard--results">
              <div class="profit-summary-clipboard--results__income">
                <span>Income</span>
                <strong [style.color]="!sharedService.darkMode() ? '#06a506' : '#48df57'">{{ totalPersonalIncome() | currency:'USD' }}</strong>
              </div>
              <div class="profit-summary-clipboard--results__expense">
                <span>Obligation</span>
                <strong [style.color]="!sharedService.darkMode() ? 'red' : '#fc6363'">{{ totalPersonalExpenses() | currency:'USD'}}</strong>
              </div>
              <div class="profit-summary-clipboard--results__total">
                <span>Profit</span>
                @if (sharedService.darkMode()) {
                  <strong [style.color]="totalPersonalProfit() < 0 ? '#fc6363' : '#48df57'">{{ totalPersonalProfit() | currency:'USD'}}</strong>
                } @else {
                  <strong [style.color]="totalPersonalProfit() < 0 ? 'red' : '#06a506'">{{ totalPersonalProfit() | currency:'USD'}}</strong>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    }
  }
</div>
<tcd-profit-form #profitFormDialog [showProfitFormDialog]="showProfitFormDialog()" (onClose)="onDialogClose($event)" (onSubmit)="triggerProfitForm($event)" [dialogLoading]="dialogLoading" [logicType]="logicType()" [profitItemData]="profitItemData"></tcd-profit-form>
<p-confirmDialog/>