<div class="route-container">
  <div class="tab-menu">
    <p-tabMenu [model]="items" [(activeItem)]="activeItem"/>
  </div>
  @if (showBusinessProfits()) {
    <div class="no-profits">
      <img src="/assets/images/money-stacks.webp" alt="no profits" draggable="false" width="230" height="205" priority>
      <span>Keep track of your business expesnes!</span>
      <p-button label="Add Income/Expense +"></p-button>
    </div>
  } @else {
    <div class="no-profits">
      <img src="/assets/images/wallet.webp" alt="no profits" draggable="false" width="230" height="205" priority>
      <span>Keep track of your personal expenses!</span>
      <p-button label="Add Income/Expense +"></p-button>
    </div>
  }
</div>