@use '../../../../variables.scss' as variables;

.no-profits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 4rem;
  height: calc(100% - 3.6rem);
  animation: routeAnimation 0.2s linear;

  img {
    height: 200px;
    width: auto;
    opacity: 0.6;
    margin-bottom: 2rem;

    @include variables.media('phone') {
      height: auto;
      width: 60%;
    }
  }

  span {
    font-size: 1.1rem;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    margin-bottom: 1rem;
    line-height: 1.7rem;
  }
}

.tab-menu {
  margin: auto;
  width: fit-content;
  height: 3.6rem;
}