@use '../../../../variables.scss' as variables;

.no-profits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 4rem;
  height: calc(100% - 3.6rem);
  animation: routeAnimation 0.2s linear;

  img {
    height: 200px;
    width: auto;
    opacity: 0.6;
    margin-bottom: 2rem;

    @include variables.media('phone') {
      height: auto;
      width: 60%;
      padding-top: 1rem;
    }
  }

  span {
    font-size: 1.1rem;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    margin-bottom: 1rem;
    line-height: 1.7rem;
  }

  @media screen and (max-height: 555px) {
    height: auto;
    padding-bottom: 0;
  }
}

.tab-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: 3.6rem;

  @include variables.media('tablet') {
    justify-content: center;
    height: auto;
    flex-direction: column;
  }
}

.profit-container {
  display: flex;
  align-items: flex-start;
  padding: 1rem 0;
  animation: routeAnimation 0.2s linear;

  @media screen and (max-width: 1376px) {
    flex-direction: column;
    gap: 1rem;
  }

  @include variables.media('tablet') {
    // flex-direction: column-reverse;
    justify-content: center;
    padding-bottom: 0;
  }
}

.profit-items {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

  @include variables.media('tablet') {
    justify-content: center;
  }
}

.profit-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  width: 250px;
  height: 125px;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  font-family: "Outfit", sans-serif;

  .pi-ellipsis-h {
    position: absolute;
    font-size: 1.2rem;
    border-radius: 50%;
    color: gray;
    font-size: 1.2rem;
    top: 5px;
    right: 10px;
    padding: 10px;

    &:hover {
      cursor: pointer;
      background-color: rgba(223, 223, 223, 0.188);
    }
  }

  @include variables.media('tablet') {
    width: 100%;
  }
}

.profit-item-dark {
  background-color: #2a2a2a;
}

.profit-item__expense {
  font-size: 1.5rem;
  font-weight: 900;
}

.profit-item__name {
  font-size: 1.1rem;
  font-weight: 700;
}

.profit-item__note {
  font-size: 1rem;
}

.profit-summary {
  @include variables.media('tablet') {
    width: 100%;
  }
}

.profit-summary-clipboard {
  position: relative;
  width: 450px;
  height: 600px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 2px rgba(128, 128, 128, 0.519);

  @include variables.media('tablet') {
    width: 100%;
  }
}

.profit-summary-clipboard-dark {
  background-color: #2a2a2a;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.323);
}

.profit-summary-clipboard--title {
  background-color: variables.$theme-color-main;
  color: white;
  padding: 0.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  font-family: "Outfit", sans-serif;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}