<div class="route-container" [class.disabled]="sharedService.loading()">
  <div class="tab-menu">
    <p-tabMenu [model]="items" [(activeItem)]="activeItem"/>
  </div>
  @if (showBusinessProfits()) {
    <div class="no-profits">
      <img src="/assets/images/money-stacks.webp" alt="no profits" draggable="false" width="230" height="205" priority>
      <span>Keep track of your business expesnes!</span>
      <p-button label="Add Income/Expense +" (onClick)="showProfitFormDialog.set(true)"></p-button>
    </div>
  } @else {
    <div class="no-profits">
      <img src="/assets/images/wallet.webp" alt="no profits" draggable="false" width="186" height="200" priority>
      <span>Keep track of your personal expenses!</span>
      <p-button label="Add Income/Expense +" (onClick)="showProfitFormDialog.set(true)"></p-button>
    </div>
  }
</div>
<tcd-profit-form #profitFormDialog [showProfitFormDialog]="showProfitFormDialog()" (onClose)="onDialogClose($event)" (onSubmit)="triggerProfitForm($event)" [dialogLoading]="dialogLoading"></tcd-profit-form>