@use '../../../../variables.scss' as variables;

.first-widgets {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  animation: fadeInAndSlideInBottom 0.2s linear;

  @media screen and (max-width: 1000px) {
    justify-content: center;
  }
}

.small-widget {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 130px;
  width: 280px;
  border-radius: 15px;

  strong, span {
    font-family: "Outfit", sans-serif;
    font-weight: 700;
  }

  strong {
    font-size: 1.3rem;
  }

  span {
    font-size: 1rem;
    opacity: 0.5;
  }
}

.main-pi {
  font-weight: 600;
  font-size: 2rem;
  padding: 11px;
  border-radius: 50%;
  color: black;
}

.menu-pi {
  position: absolute;
  font-size: 1.2rem;
  border-radius: 50%;
  color: gray;
  font-size: 1.3rem;
  top: 5px;
  right: 10px;
  padding: 10px;

  &:hover {
    cursor: pointer;
    background-color: rgba(223, 223, 223, 0.188);
  }
}

.small-widget__info {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  gap: 2px;
}

.task-note {
  font-weight: 600;
  font-size: 1rem;
  max-width: 150px;
  font-family: "Outfit", sans-serif;
}

.chart-container {
  max-width: 600px;
  height: auto;
  margin-top: 25px;
  padding: 1rem;
  // background-color: #fff;
  border-radius: 15px;
}