@use '../../../../variables.scss' as variables;

.first-widgets {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  animation: fadeInAndSlideInBottom 0.2s linear;

  @media screen and (max-width: 1000px) {
    justify-content: center;
  }
}

.small-widget {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 130px;
  width: 280px;
  border-radius: 15px;

  strong, span {
    font-family: "Outfit", sans-serif;
    font-weight: 700;
  }

  strong {
    font-size: 1.3rem;
  }

  span {
    font-size: 1rem;
    opacity: 0.5;
  }

  @include variables.media('phone') {
    width: 100%;
  }
}

.main-pi {
  font-weight: 600;
  font-size: 2rem;
  padding: 11px;
  border-radius: 50%;
  color: black;
}

.menu-pi {
  position: absolute;
  font-size: 1.2rem;
  border-radius: 50%;
  color: gray;
  font-size: 1.3rem;
  top: 5px;
  right: 10px;
  padding: 10px;

  &:hover {
    cursor: pointer;
    background-color: rgba(223, 223, 223, 0.188);
  }
}

.small-widget__info {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  gap: 2px;
}

.task-note {
  font-weight: 600;
  font-size: 1rem;
  max-width: 150px;
  font-family: "Outfit", sans-serif;
}

.second-widgets {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
  gap: 25px;
}

.chart-container {
  position: relative;
  width: 600px;
  height: auto;
  padding: 1rem;
  border-radius: 15px;
  animation: fadeInAndSlideInBottom 0.2s linear;

  @include variables.media('tablet') {
    width: 100%;
  }
}

.chart-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.forecast-container {
  position: relative;
  background-color: white;
  max-width: 400px;
  height: 310px;
  width: 100%;
  padding: 1rem;
  border-radius: 15px;
  font-family: "Outfit", sans-serif;
}

.location-title {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}

.current-day {
  display: flex;
  align-items: center;
}

.current-day__details {

}

.current-day__details--condition {
  font-size: 1.1rem;
  font-weight: bold;
}

.current-day__details--temp {
  font-size: 1.7rem;
  font-weight: 300;
}

.current-date {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
}