@if (!sharedService.hardLoading() && sharedService.showOverview()) {
  <div class="route-container" [style.background-color]="sharedService.darkMode() ? 'rgb(24, 24, 24)' : ''">
    <div class="second-widgets">
      <div class="chart-container" [class.disabled]="sharedService.loading()" [style.background-color]="sharedService.darkMode() ? 'rgb(42, 42, 42)' : 'white'">
        <canvas [class.disabled]="chartIsUpdating()" id="incomeExpenseChart"></canvas>
        @if (chartIsUpdating()) {
          <p-progressSpinner class="chart-spinner" ariaLabel="loading" strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }"/>
        }
      </div>
      <div class="forecast-container" [class.disabled]="sharedService.loading()" [style.background-color]="sharedService.darkMode() ? 'rgb(42, 42, 42)' : 'white'">
        @if (fetchingWeather()) {
          <p-progressSpinner class="chart-spinner" ariaLabel="loading" strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }"/>
        } @else {
          <div class="location-title">{{ weatherLocation.name }}, {{ weatherLocation.region }}</div>
          <div class="current-day">
            <img src="{{weatherToday.day.condition.icon}}" alt="{{weatherToday.day.condition.text}}">
            <div class="current-day__details">
              <div class="current-day__details--condition">{{ weatherToday.day.condition.text }}</div>
              <div class="current-day__details--temp">{{ weatherToday.day.avgtemp_f | number:'1.0-0' }}<span>°F</span></div>
              <div>H:{{ weatherToday.day.maxtemp_f | number:'1.0-0' }} | L:{{ weatherToday.day.mintemp_f | number:'1.0-0' }}</div>
            </div>
            <div class="current-date">
              <strong>Today</strong>
              {{ weatherToday.date | date:'EEEE, MMM d' }}
            </div>
          </div>
          <div class="days">
            @for (day of weatherTwoDayForecast; track day) {
              <div class="day">
                <img src="{{day.day.condition.icon}}" alt="{{day.day.condition.text}}">
                <div class="day-details">
                  <div class="day-details__condition">{{ day.day.condition.text }}</div>
                  <div class="day-details__temp">{{ day.day.avgtemp_f | number:'1.0-0' }}°F</div>
                  <div style="font-size: 0.8rem;">H:{{ day.day.maxtemp_f | number:'1.0-0' }} | L:{{ day.day.mintemp_f | number:'1.0-0' }}</div>
                </div>
                <div class="day-date">
                  {{ day.date | date:'EEEE, MMM d' }}
                </div>
              </div>
            }
          </div>
        }
      </div>
    </div>
    <div class="first-widgets">
      <div class="total-clients small-widget" [style.background-color]="sharedService.darkMode() ? 'rgb(42, 42, 42)' : 'white'" [class.disabled]="sharedService.loading()">
        <i class="pi pi-users main-pi" style="background-color: rgb(191, 226, 255);"></i>
        <div class="small-widget__info">
          <strong>{{ authService.coreBusinessData()?.clients?.length }}</strong>
          <span>Total Clients</span>
        </div>
      </div>
      <div class="team-mates small-widget" [style.background-color]="sharedService.darkMode() ? 'rgb(42, 42, 42)' : 'white'" [class.disabled]="sharedService.loading()">
        <i class="pi pi-face-smile main-pi" style="background-color: rgb(223, 205, 255);"></i>
        <div class="small-widget__info">
          <strong>{{ authService.coreBusinessData()?.members }}</strong>
          <span>Team Members</span>
        </div>
      </div>
      <div class="total-profits small-widget" [style.background-color]="sharedService.darkMode() ? 'rgb(42, 42, 42)' : 'white'" [class.disabled]="sharedService.loading()">
        <i class="pi pi-money-bill main-pi" style="background-color: rgb(206, 255, 205);"></i>
        <div class="small-widget__info">
          <strong>
            @if (sharedService.darkMode()) {
              <strong [style.color]="totalBusinessProfit() < 0 ? '#fc6363' : '#48df57'">{{ totalBusinessProfit() | currency:'USD'}}</strong>
            } @else {
              <strong [style.color]="totalBusinessProfit() < 0 ? 'red' : '#06a506'">{{ totalBusinessProfit() | currency:'USD'}}</strong>
            }
          </strong>
          <span>Business Profits (Mo)</span>
        </div>
        <!-- <i class="pi pi-ellipsis-h menu-pi" (click)="profitMenu.toggle($event);"></i> -->
        <!-- <p-menu #profitMenu [model]="profitOptions" popup="true" appendTo="body"/> -->
      </div>
      <div class="total-profits small-widget" [style.background-color]="sharedService.darkMode() ? 'rgb(42, 42, 42)' : 'white'" [class.disabled]="sharedService.loading()">
        <i class="pi pi-money-bill main-pi" style="background-color: rgb(206, 255, 205);"></i>
        <div class="small-widget__info">
          <strong>
            @if (sharedService.darkMode()) {
              <strong [style.color]="totalPersonalProfit() < 0 ? '#fc6363' : '#48df57'">{{ totalPersonalProfit() | currency:'USD'}}</strong>
            } @else {
              <strong [style.color]="totalPersonalProfit() < 0 ? 'red' : '#06a506'">{{ totalPersonalProfit() | currency:'USD'}}</strong>
            }
          </strong>
          <span>Personal Profits (Mo)</span>
        </div>
      </div>
      <div class="next-task small-widget" [style.background-color]="sharedService.darkMode() ? 'rgb(42, 42, 42)' : 'white'" [class.disabled]="sharedService.loading()">
        <i class="pi pi-list-check main-pi" style="background-color: rgb(255, 205, 205);"></i>
        <div class="small-widget__info">
          @if (getMostRecentIncompleteBusinessTask()) {
            <div class="task-note">{{ getMostRecentIncompleteBusinessTask().task | truncate: 32 }}</div>
          } @else {
            <strong [style.color]="sharedService.darkMode() ? '#37b6ff' : '#004aad'" style="font-size: 1.25rem;">All caught up! 🎉</strong>
          }
          <span>Next Business Task</span>
        </div>
      </div>
      <div class="next-task small-widget" [style.background-color]="sharedService.darkMode() ? 'rgb(42, 42, 42)' : 'white'" [class.disabled]="sharedService.loading()">
        <i class="pi pi-list-check main-pi" style="background-color: rgb(255, 205, 205);"></i>
        <div class="small-widget__info">
          @if (getMostRecentIncompletePersonalTask()) {
            <div class="task-note">{{ getMostRecentIncompletePersonalTask().task | truncate: 35 }}</div>
          } @else {
            <strong [style.color]="sharedService.darkMode() ? '#37b6ff' : '#004aad'" style="font-size: 1.25rem;">All caught up! 🎉</strong>
          }
          <span>Next Personal Task</span>
        </div>
      </div>
      <div class="notifications small-widget" [style.background-color]="sharedService.darkMode() ? 'rgb(42, 42, 42)' : 'white'" [class.disabled]="sharedService.loading()">
        <i class="pi pi-bell main-pi" style="background-color: rgb(255, 239, 205);"></i>
        <div class="small-widget__info">
          <strong>0 New</strong>
          <span>Notifications</span>
        </div>
      </div>
    </div>
  </div>
}