@use '../../../variables.scss' as variables;

.p-text-secondary{
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.dialogactions {
  margin-top: 30px;
  display: flex;
  justify-content: right;
  gap: 10px;
}