@use '../../../variables.scss' as variables;

.home-container {
  position: relative;
}

.skewed {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: rgb(195,233,255);
  background: linear-gradient(180deg, rgba(195, 233, 255, 0.821) 0%, rgba(249,249,249,1) 100%);
  z-index: -1;
  transform-origin: top right;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin: 50px 10px 50px;
  padding: 0 20px;
  // animation: fadeInAndSlideInBottom 0.2s linear;

  h1 {
    font-size: 4.2rem;
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    max-width: 700px;
    text-align: center;
    margin: 0;

    @include variables.media('tablet') {
      font-size: 2.7rem;
    }
  }

  h2 {
    font-size: 1.6rem;
    font-family: "Outfit", sans-serif;
    margin: 20px 0 0;
    font-weight: 200;
    text-align: center;

    @include variables.media('tablet') {
      font-size: 1.3rem;
    }
  }

  @include variables.media('tablet') {
    margin-top: 35px;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.main-button {
  margin-top: 30px;
  height: 45px;
  width: 100%;
  max-width: 165px;
  font-size: 1.1rem;
  border: none;
  background-color: rgb(254, 255, 233);
  border-radius: 10px;
  box-shadow: 0 5px rgb(160, 160, 160);
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  transition: 0.1s linear;
  color: black;

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: translateY(5px);
    box-shadow: none;
  }

  @include variables.media('phone') {
    font-size: 1rem;
    max-width: 140px;
  }
}

.sub-button {
  margin-top: 30px;
  height: 45px;
  width: 100%;
  max-width: 165px;
  font-size: 1.1rem;
  border: none;
  background-color: rgb(0, 90, 169);
  border-radius: 10px;
  box-shadow: 0 5px rgb(160, 160, 160);
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  transition: 0.1s linear;
  color: white;

  &:hover {
    cursor: pointer;
    // background-color: rgb(0, 71, 134);
  }

  &:active {
    transform: translateY(5px);
    box-shadow: none;
  }

  @include variables.media('phone') {
    font-size: 1rem;
    max-width: 140px;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: self-start;
  gap: 100px;
  margin: 80px 10px 40px;
  // animation: fadeInAndSlideInBottom 0.2s linear;

  .counting {
    height: auto;
    max-width: 450px;

    @include variables.media('tablet') {
      width: 90%;
    }
  }

  @media screen and (max-width: 1110px) {
    gap: 20px;
  }

  @include variables.media('tablet') {
    align-items: center;
    flex-direction: column-reverse;
    margin-top: 30px;
  }
}

.files {
  position: absolute;
  right: -10px;
  top: -30px;
  max-width: 80px;

  @include variables.media('phone') {
    top: -15px;
  }
}

.features {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  min-width: 250px;
}

.feature {
  font-size: 1.3rem;
  font-weight: 300;
  font-family: "Outfit", sans-serif;
}

// #region Pricing
.pricing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem auto 0;
  gap: 4rem;

  @include variables.media('tablet') {
    flex-direction: column;
  }

  @include variables.media('phone') {
    flex-direction: column;
    margin-bottom: 3rem;
    gap: 1.5rem;
    margin-top: 2rem;
  }
}

.price-block {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  min-width: 300px;
  font-family: "Outfit", sans-serif;
  padding: 2rem;
  border-radius: 15px;
  gap: 1rem;
}

.price-block__label {
  font-size: 1.6rem;
  font-weight: 700;
}

.price-block__amount {
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;

  small {
    opacity: 0.8;
    font-size: 1.2rem;
  }
}

.price-block__features {
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  gap: 0.5rem;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
}
// #endregion

// #region Testimonial Section
.testimonials {
  font-family: Arial, sans-serif;
  padding: 40px 20px;
  text-align: center;
  max-width: 1300px;
  margin: 0 auto 50px;

  @include variables.media('phone') {
    padding-top: 0;
    margin-bottom: 10px;
    padding-bottom: 0;
  }
}

.testimonials-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-family: "Outfit", sans-serif;
}

.testimonials-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.testimonial-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgb(245, 245, 245);
  padding: 20px;
  text-align: left;
}

.review {
  font-size: 1rem;
  margin-bottom: 15px;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
}

.reviewer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-weight: 900;
  font-family: "Outfit", sans-serif;
}

.stars {
  color: #ffbf00;
  font-size: 1.2rem;
}

.dark-testimonial-box {
  background-color: rgb(57, 57, 57);
  color: white;
}

@media (max-width: 600px) {
  .testimonials-container {
    grid-template-columns: 1fr;
  }
}
// #endregion

.subtitle {
  margin-top: 8rem;
  margin-bottom: 5rem;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Outfit", sans-serif;
  text-align: center;
  padding: 0.5rem 2rem 0;

  @include variables.media('tablet') {
    font-size: 1.4rem;
    margin: 0;
  }
}

// #region About
.app-deets {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 5rem;
  gap: 2rem;
  padding: 2rem;

  img {
    max-width: 650px;
    height: auto;
    border-radius: 15px;
    border: 3px solid #004aad;

    @include variables.media('tablet') {
      max-width: 100%;
      width: 100%;
    }
  }

  p {
    font-weight: 300;
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
    font-family: "Outfit", sans-serif;
    max-width: 650px;

    strong {
      font-weight: 700;
    }
  }

  @media screen and (max-width: 1100px) {
    flex-direction: column;
    margin: 0;
    gap: 0.5rem;
  }
}

.light-border {
  border: 3px solid #37b6ff !important;
}

.app-deets-one {
  margin-bottom: 0;

  @media screen and (max-width: 1100px) {
    flex-direction: column-reverse;
  }
}

.app-deets-two {
  margin: 0;
}

.quick-bio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 930px;
  margin: 3rem auto 0;
  padding: 2rem;
  border-radius: 10px;

  img {
    max-width: 290px;
    border-radius: 50%;
  }

  strong {
    font-size: 1.6rem;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
  }

  p {
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
    font-family: "Outfit", sans-serif;
  }

  @include variables.media('tablet') {
    flex-direction: column;
    margin: 1rem auto;
  }
}
// #endregion