<div class="home-container">
  <div class="skewed"></div>
  <tc-navbar/>
  
  <section class="cta">
    <h1>The <span [style.color]="sharedService.darkMode() ? '#9bdeff' : '#004aad'">Simple</span> CRM, Built for Small Businesses</h1>
    <h2>Effortless Customer Management, Simplified for Small Businesses.</h2>
    <div class="button-container">
      <button class="sub-button" routerLink="/signup">Register</button>
      <button class="main-button">Learn More</button>
    </div>
  </section>
  
  <div class="image-container">
    <img class="counting" ngSrc="/assets/images/orders.webp" alt="taking orders" width="450" height="307" draggable="false" priority>
    <div class="features"
      [style.box-shadow]="sharedService.darkMode() ? '0 0 100px 20px rgba(0, 183, 255, 0.616)' : 'none'" 
      [style.border]="sharedService.darkMode() ? '2px solid white' : '2px solid black'">
      <div class="feature">✅ Easy To Use</div>
      <div class="feature">✅ Fast & Secure</div>
      <div class="feature">✅ Absolutely <strong style="font-weight: bold;">FREE!</strong></div>
      <img class="files float" ngSrc="/assets/images/files.webp" alt="files" width="80" height="80" draggable="false">
    </div>
  </div>

  <div class="app-deets app-deets-one">
    @if (sharedService.darkMode()) {
      <img [class.light-border]="sharedService.darkMode()" src="/assets/images/overview-dark.webp" alt="dashboard" width="650" height="374">
    } @else {
      <img src="/assets/images/overview-light.webp" alt="dashboard" width="650" height="374">
    }
    <div class="app-deets__desc">
      <p>TidyClient is a <strong [style.color]="sharedService.darkMode() ? '#37b6ff' : '#004aad'">simple, easy-to-use CRM</strong> built for people who want to stay organized without the overwhelm of traditional tools. It helps you <strong [style.color]="sharedService.darkMode() ? '#37b6ff' : '#004aad'">keep track of your clients, store important contact details, and manage everything</strong> in one clean, intuitive dashboard—so nothing slips through the cracks.</p>
      <p>You can assign contacts to clients for quick reference, track tasks and expenses separately from your business, and invite team members to collaborate with full visibility into client details. TidyClient focuses on clarity, speed, and usability—giving you just what you need to run your business smoothly, without unnecessary complexity.</p>
    </div>
  </div>

  <div class="app-deets app-deets-two">
    <div class="app-deets__desc">
      <p>TidyClient lets you <strong [style.color]="sharedService.darkMode() ? '#37b6ff' : '#004aad'">keep your business and personal profits and tasks completely separate</strong>. Personal finances and tasks are private to you, while business data stays shared with your team—giving entrepreneurs, freelancers, and small business owners a simple way to stay organized without mixing work and life.</p>
    </div>
    @if (sharedService.darkMode()) {
      <img [class.light-border]="sharedService.darkMode()" src="/assets/images/profits-dark.webp" alt="profits page" width="650" height="374">
    } @else {
      <img src="/assets/images/profits-light.webp" alt="profits page" width="650" height="374">
    }
  </div>

  <!-- [style.background-color]="sharedService.darkMode() ? 'rgb(42, 42, 42)' : 'white'" -->
  <div class="quick-bio">
    <img src="/assets/images/avatars/roger-headshot.png" alt="roger sandoval ceo" width="290" height="290">
    <div class="quick-bio__desc">
      <strong>👋 I’m Roger, <br class="phone-break"/>the creator of TidyClient.</strong>
      <p>I built this because I needed a simple way to track clients while keeping my personal tasks and expenses separate from my business—without all the CRM clutter. It helped me stay organized, so I made it free for anyone to use!</p>
      <p>Find a bug or have a question? Reach out to me at: <a href="mailto:roger@chubbydesigns.com">roger&#64;chubbydesigns.com</a></p>
    </div>
  </div>

  <section class="testimonials">
    <!-- <h2 class="testimonials-title">What Our Users Say</h2> -->
    <div class="testimonials-container">
      <div class="testimonial-box" [class.dark-testimonial-box]="sharedService.darkMode()">
        <p class="review">"This CRM has completely transformed the way I manage my clients. It's simple yet powerful!"</p>
        <div class="reviewer">
          <span class="name">Sawako Yamaoka</span>
          <div class="stars">★★★★★</div>
        </div>
      </div>
      <div class="testimonial-box" [class.dark-testimonial-box]="sharedService.darkMode()">
        <p class="review">"The interface is so intuitive. I didn't need a tutorial to get started!"</p>
        <div class="reviewer">
          <span class="name">Hannah Fikes</span>
          <div class="stars">★★★★★</div>
        </div>
      </div>
      <div class="testimonial-box" [class.dark-testimonial-box]="sharedService.darkMode()">
        <p class="review">"Affordable and packed with features. Perfect for small businesses like mine."</p>
        <div class="reviewer">
          <span class="name">Emma Johnson</span>
          <div class="stars">★★★★★</div>
        </div>
      </div>
      <div class="testimonial-box" [class.dark-testimonial-box]="sharedService.darkMode()">
        <p class="review">"I love the simplicity of this CRM. It's exactly what I needed."</p>
        <div class="reviewer">
          <span class="name">Savannah Cole</span>
          <div class="stars">★★★★★</div>
        </div>
      </div>
      <div class="testimonial-box" [class.dark-testimonial-box]="sharedService.darkMode()">
        <p class="review">"This CRM keeps everything organized, and the team loves it too!"</p>
        <div class="reviewer">
          <span class="name">Sarah Wilson</span>
          <div class="stars">★★★★★</div>
        </div>
      </div>
      <div class="testimonial-box" [class.dark-testimonial-box]="sharedService.darkMode()">
        <p class="review">"Highly recommend this CRM for anyone looking for simplicity and reliability."</p>
        <div class="reviewer">
          <span class="name">David Clark</span>
          <div class="stars">★★★★★</div>
        </div>
      </div>
      <div class="testimonial-box" [class.dark-testimonial-box]="sharedService.darkMode()">
        <p class="review">"I just needed a simple way to track my clients for my small business. This one ended up being PERFECT!"</p>
        <div class="reviewer">
          <span class="name">Anthony Smith</span>
          <div class="stars">★★★★★</div>
        </div>
      </div>
      <div class="testimonial-box" [class.dark-testimonial-box]="sharedService.darkMode()">
        <p class="review">"Other CRMs were way too complex. TidyClient was just right for me and my business."</p>
        <div class="reviewer">
          <span class="name">David Trang</span>
          <div class="stars">★★★★★</div>
        </div>
      </div>
    </div>
  </section>

  <tc-footer/>
</div>