<p-dialog header="Contacts" [modal]="true" (onHide)="closeDialog()" [(visible)]="showContactListDialog" [style]="{ width: '25rem', maxHeight: '34rem', height: 'auto' }">
  <span class="p-text-secondary">Contacts for <strong>{{ sharedService.dialogClient()?.name }}</strong></span>
  @for (contact of sharedService.dialogClient()?.contacts; track contact.id) {
    <div class="contact-card" [class.disabled]="deletingContact()" [style.background-color]="sharedService.darkMode() ? 'rgb(30, 30, 30)' : 'rgb(245, 245, 237)'">
      <div class="contact-card-info">
        <div class="contact-card__name">{{ contact.name }}</div>
        <div class="contact-card__position">{{ contact.position }}</div>
        @if (contact.email.length >= 37) {
          <a class="email" href="mailto:{{contact.email}}" pTooltip="{{contact.email}}" tooltipPosition="top" autoHide="false" showDelay="500">
            <div class="contact-card__email">{{ contact.email | truncate: 37 }}</div>
          </a>
        } @else {
          <a class="email" href="mailto:{{contact.email}}">
            <div class="contact-card__email">{{ contact.email }}</div>
          </a>
        }
        <div class="contact-card__phone">{{ contact.phone }}</div>
      </div>
      <div class="menu">
        <i class="pi pi-ellipsis-h" (click)="menu.toggle($event); selectedContact = contact"></i>
        <p-menu #menu [model]="contactOptions" [popup]="true" [appendTo]="'body'"/>
      </div>
    </div>
    @if (deletingContact()) {
      <p-progressSpinner ariaLabel="loading" strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }"/>
    }
  }
</p-dialog>
<p-confirmDialog />