@use '../../../variables.scss' as variables;

p-progressSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.p-text-secondary{
  display: block;
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.contact-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  font-size: 1rem;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  border-radius: 10px;
}

.contact-card-info {
  display: flex;
  align-items: self-start;
  flex-direction: column;
  gap: 5px;
}

.contact-card__name {
  font-weight: bold;
}

.menu {
  .pi {
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 50%;
    color: gray;

    &:hover {
      cursor: pointer;
      background-color: rgba(223, 223, 223, 0.188);
    }
  }

  @include variables.media('tablet') {
    padding: 0;
  }
}

.email {
  color: inherit;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    color: variables.$theme-color-main;
  }
}